/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --yellow:rgba(255, 251, 99, 0.7);
  --gray:#383838;
  --light-gray:#5B5555;
  --very-dark-gray:#151514;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0px;
  padding: 20px 39px;
  overflow: hidden;
}

label {
  color: var(--light-gray);
  font-size: 35px;
  font-weight: 700;
}

input {
  color: var(--light-gray);
  background-color: transparent;
  font-size: 30px;
  border: none;
  border-bottom: 1px solid var(--very-dark-gray);
  line-height: 35px;
  margin-bottom: 45px;
}

.main-container {
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100px;
}

.header-title {
  display: inline-block;
  float: left;
  font-size: 40px;
  color: var(--gray);
}

/* .header::before {
  content: "S";
  color: var(--very-dark-gray);
  font-size: 55px;
} */

.header-nav {
  float: right;
}

.header-nav li {
  display: inline;
  margin-right: 150px;
}

.header-link {
  list-style-type: none;
}

.header-link a {
  text-decoration: none;
  color: var(--gray);
  font-weight: 700;
  font-size: 35px;
}

.header-link a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.signup-container {
  width: 572px;
  height: auto;
  margin-top: 119px;
}

.input-email {
  width: 338px;
}


.input-password {
  width: 462px;
}

.signup-form-btn {
  display: block;
  margin: 0px auto;
  background: rgba(255, 251, 99, 0.7);
  border: none;
  -webkit-box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px 0px;
  color: var(--light-gray);
  font-size: 35px;
  padding: 18px 82px;
}

.signup-form-btn:hover {
  cursor: pointer;
  border: 1px var(--very-dark-gray) solid;
}

.ellipse-bottom {
  z-index: -1;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.ellipse-right-top {
  z-index: -1;
  position: absolute;
  top: -200px;
  right: -150px;
}

.ellipse-right-bottom {
  z-index: -1;
  position: absolute;
  right: -85px;
  bottom: -85px;
}

.logo-welcome {
  position: absolute;
  width: 450px;
  top: 125px;
  right: 50px;
}
